:root {
  --bg: #282828;
  --red: #cc241d;
  --red2: #fb4934;
  --green: #98971a;
  --green2: #b8bb26;
  --yellow: #d79921;
  --yellow2: #fabd2f;
  --blue: #458588;
  --blue2: #83a598;
  --purple: #b16286;
  --purple2: #d3869b;
  --aqua: #689d6a;
  --aqua2: #8ec07c;
  --orange: #d65d0e;
  --orange2: #fe8019;
  --gray: #a89984;
  --gray2: #928374;
  --fg: #ebdbb2;
  --bg0_h: #1d2021;
  --bg0: #282828;
  --bg0_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
  --bg5: #928374;
  --fg4: #a89984;
  --fg3: #bdae93;
  --fg2: #d5c4a1;
  --fg1: #ebdbb2;
  --fg0: #fbf1c7;
  /* --gray: #e8e8e8;
  --light-gray: #bbbfca;
  --background-white: #f4f4f2;
  --dark-gray: #495464; */
}

@font-face {
  font-family: mono;
  src: url('UbuntuMono-Regular.ttf');
}

@font-face {
  font-family: Ubuntu;
  src: url('Ubuntu-Regular.ttf');
}

body {
  background: var(--bg0);
  text-align: center;
  margin: 0;
  height: 100vh;
}

.splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.zdog-canvas {
  background: var(--bg0);
  width: 100%;
  margin: 0vw;
}

.zdog-canvas:hover {
  cursor: pointer;
}

mark {
  background-color: var(--fg1);
  color: var(--bg0);
  font-family: mono;
  border-radius: 4px;
}

.bio {
  font-family: Ubuntu, system-ui, -apple-system, sans-serif;
  font-size: 2.5vh;
  line-height: 3vh;
  color: var(--fg1);
  margin: 10vh 10vw 0vh 10vw;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0vw 5vw 0vw 5vw;
  width: 40vw;
}

li {
  height: 8vh;
  font-size: 5vh;
  font-family: mono;
  width: 75%;
  padding-left: 1vw;
  padding-right: 1vw;
}

.link-item {
  background-color: var(--gray);
  color: var(--bg0);
  text-decoration: none;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 1px var(--gray2);
}

.link-item:hover {
  background-color: var(--bg4);
  color: var(--fg1);
  cursor: pointer;
  box-shadow: 5px 5px 1px var(--bg2);
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.main-left {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right {
  width: 50vw;
}

@media (max-width: 1000px) {
  body {
    max-height: 90vh;
  }

  .splitter {
    flex-direction: column;
    justify-content: start;
  }

  .main-left {
    width: 100vw;
    max-height: 35vh;
  }

  .zdog-canvas {
    margin: -5vh 0 -5vh 0;
  }

  .main-right {
    width: 100vw;
    padding-top: 0vh;
  }

  .bio {
    font-size: 2vh;
    line-height: 2.8vh;
    margin: 0vh 10vw 0vh 10vw;
  }

  ul {
    padding: 5vw 5vw 0vw 5vw;
    width: 90vw;
  }

  li {
    height: 6vh;
    width: 85%;
  }

  .link-item {
    font-size: 4vh;
    box-shadow: 3px 3px 1px var(--dark-gray);
  }

  .link-item:hover {
    box-shadow: 3px 3px 1px var(--gray);
  }
}