@font-face {
  font-family: mono;
  src: url('UbuntuMono-Regular.ttf');
}

body {
  background: #f4f4f2;
  text-align: center;
  margin:0;
}

.splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding:0;
}

.zdog-canvas {
  background: #f4f4f2;
  width: 100%;
  margin: 0vw;
}

.zdog-canvas:hover {
  cursor: pointer;
}

mark {
  background-color: #bbbfca;
  color: #495464;
}

.bio {
  font-family: mono;
  font-size: 2.5vh;
  line-height: 3.5vh;
  color: #495464;
  margin: 10vh 10vw 0vh 10vw;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 5vw;
  width: 40vw;
}

li {
  height: 8vh;
  font-size: 5vh;
  font-family: mono;
  width: 75%;
  padding-left: 1vw;
  padding-right: 1vw;
}

.link-item {
  background-color: #bbbfca;
  color: #495464;
  text-decoration: none;
  width:100%;
  border-radius: 10px;
  box-shadow: 5px 5px 1px #495464;
}

.link-item:hover {
  background-color: #495464;
  color: #f4f4f2;
  cursor:pointer;
  box-shadow: 5px 5px 1px #bbbfca;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.header-text {
  color: #557174;
  font-family: Andale Mono, sans-serif;
  font-size: 5vw;
}

.main-left {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right {
  width: 50vw;
}

@media (max-width: 1000px) {
  body {
    max-height: 90vh;
  }

  .splitter {
    flex-direction: column;
    justify-content: start;
  }

  .main-left {
    width: 100vw;
    max-height: 35vh;
  }

  .zdog-canvas {
    margin: -5vh 0 -5vh 0;
  }

  .main-right {
    width: 100vw;
    padding-top: 0vh;
  }

  .bio {
    font-size: 2vh;
    line-height: 2.8vh;
    margin: 0vh 10vw 0vh 10vw;
  }

  ul {
    padding: 5vw 5vw 0vw 5vw;
    width: 90vw;
  }

  li {
    height: 6vh;
    width: 85%;
  }

  .link-item {
    font-size: 4vh;
    box-shadow: 3px 3px 1px #495464;
  }

  .link-item:hover {
    box-shadow: 3px 3px 1px #bbbfca;
  }
}
